Source: dde-calendar
Section: utils
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends: debhelper (>=9), pkg-config, libdtkbase-dev,qt5-qmake, qt5-default, qtbase5-dev,libdtkwidget-dev ,qttools5-dev-tools ,libdtkutil-dev, deepin-gettext-tools
Standards-Version: 3.9.6
Homepage: http://www.deepin.org
Vcs-Git: https://github.com/linuxdeepin/dde-calendar

Package: dde-calendar
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Calendar software for Deepin OS
 Calendar for Deepin Desktop Environment.
